

<div class="container">
  
    <div class="col-md-12">
      <h3>
      Reading List
      </h3>
     
      <ol class="breadcrumb">
        <li class ="active">Home</li>
      </ol>
    
      <!-- <div class="row">
        <div class="col-xs-4">

        </div>
      </div> -->

      <div class="col-md-12">
       <form>
        <legend>Search Books</legend>
        <div class="col-md-4">
        <input type = 'text' class = 'form-control' value= '<%= params[:keyword]%>' name = 'keyword' placeholder = 'keyword'>
        <p></p>
        </div>
      </form>
      </div>
    </div>
      <br>
      <br>
      <br>
      <br>
      <br>
    
      
    <div class="clearfix">



    
        <% @books.each do |book| %>

        <div class="col-md-8">
        
          <div class="row">
            <ul>
            <div class="col-md-4">
              <%= image_from_amazon(book.amazon_id) %>
            </div>
            <div class="col-md-8">
                <h3 class = "text-info">
                   <%= book.title %>
                </h3>
                 <br>
                <em class ="text-muted">
                    written by <%= book.author %>
                </em>
                <br>
                 <br>

                <p>
                    <%= book.description %>
                </p>

            </div>
         
            </ul>
          </div>
        </div>
        <div class="col-md-4">
        </div>


        <% end %>
      </div>
      </div>
    </div>
</div>

